.services {
  padding: 60px 20px;
  background: #DDDDDD;
  text-align: center;
}

.services-title {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #0a66c2;
}

.services-subtitle {
  margin: 0 auto;
  width: 670px;
  text-align: center;
  font-size: 18px;
  color: #444;
  margin-bottom: 40px;
}

.services-container {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 25px;
}

.service-box {
  background: #DDDDDD;
  color: #444;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
  transition: 0.3s;
}

.service-box:hover {
  background: white;
  transform: translateY(-6px);
  box-shadow: 0 6px 20px rgba(0,0,0,0.12);
}

.service-icon {
  font-size: 42px;
  color: #071e5c;
  margin-bottom: 15px;
}
