.footer {
  background: #111111;
  color: #00F0FF;
  padding: 50px 20px 20px 20px;
  margin-top: 50px;
}

.footer-container {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}

.footer-section h2,
.footer-section h3 {
  margin-bottom: 15px;
  color: #00F0FF;
}

.footer-logo {
  font-size: 28px;
  font-weight: bold;
  color: #0aa1ff;
}

.footer-section a {
  display: block;
  color: #00F0FF;
  margin-bottom: 8px;
  text-decoration: none;
  transition: 0.2s;
}

.footer-section a:hover {
  color: wheat;
}

.social a {
  display: inline-flex;
  font-size: 24px;
  color: #ccc;
  margin-right: 15px;
  transition: 0.3s;
}

.social a:hover {
  color: #0aa1ff;
  transform: scale(1.2);
}


.footer-bottom {
  text-align: center;
  margin-top: 30px;
  padding-top: 15px;
  border-top: 1px solid #333;
  color: #aaa;
  font-size: 14px;
}
