.header {
  width: 100%;
  height: 70px;
  background: black;     
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 40px;
  color: #00F0FF;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.logo-image {
  width: 200px;
  height: 200px;
  font-size: 26px;
  font-weight: bold;
  letter-spacing: 1px;
  /* margin-right: 100px; */
}

.nav a {
  margin-left: 25px;
  color: #00F0FF;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  transition: 0.2s;
}

.nav a:hover {
  opacity: 0.7;
  color: wheat;
}
