  .contact {
  padding: 60px 20px;
  background: #f2f6fa;
  text-align: center;


.contact-title {
  font-size: 36px;
  color: #0a66c2;
  font-weight: bold;
  margin-bottom: 10px;
}

.contact-subtitle {
  font-size: 18px;
  color: #555;
  margin-bottom: 40px;
}

.contact-form {
  max-width: 700px;
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 30px 40px;
  border: 1px solid #d0d7e2;
  border-radius: 12px;
  background: #ffffff;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
}

  .contact-form:hover {
  box-shadow: 0 6px 18px rgba(0, 105, 255, 0.25);
  transform: translateY(-2px);
  transition: 0.3s ease;
  border: 1px solid #e6e9ef;
}

}

.contact-form input,
.contact-form textarea {
  background-color: rgb(233, 230, 224);
  width: 100%;
  padding: 14px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 16px;
  outline: none;
  transition: 0.2s;
}

.contact-form input:focus,
.contact-form textarea:focus {
  border-color: #0a66c2;
  box-shadow: 0 0 5px rgba(0, 105, 255, 0.2);
}

.contact-form textarea {
  min-height: 140px;
  resize: vertical;
}

.contact-form button {
  background: #0a66c2;
  color: white;
  padding: 14px;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
  width: 50%;
  margin: 0 auto;
}

.contact-form button:hover {
  background: #00F0FF;
}
.map-wrapper {
  margin-top: 40px;
  width: 100%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
